/*
File Name: palette.css
Date: 4/3/2018
Programmer: Mario LoPriore
*/
/* Global styles */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i,700");
html {
  overflow-x: hidden;
}
body {
  margin: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
h2 {
  color: #1574BF;
  font-weight: 700;
  margin: 1rem 0.5rem;
}
h3 {
  color: #040404;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: "Titillium Web", sans-serif;
}
/* Navigation section */
.navbar {
  background: #44231c;
  display: flex;
  padding: 1rem;
  color: #f4f4f4;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}
.navbar-items,
.navbar {
  flex-direction: column;
  padding: 0.5rem 1rem;
}
.navbar-items {
  display: none;
}
.navbar-link-brand {
  align-self: flex-start;
  padding: 0.5rem 1rem;
}
.navbar-link-toggle {
  align-self: flex-end;
  display: initial;
  position: absolute;
  color: #f4f4f4;
}
.navbar a,
.navbar a:hover {
  text-decoration: none;
  color: #f4f4f4;
}
.nav-item .nav-link a {
  padding: 0;
}
.navbar-items.open {
  height: auto;
  display: flex;
  align-self: flex-start;
  padding: 0 1rem;
}
.navbar-items.open li {
  display: block;
  padding-top: .5rem;
}
.navbar-items.close {
  height: 0;
  padding-top: 0;
}
.navbar-items.close li {
  display: none;
}
/* Header section */
header {
  background-image: url("../images/hero-boots.jpg");
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(244, 244, 244, 0.7);
}
.description {
  position: absolute;
  left: 0;
  top: 20%;
  margin: 0 auto;
}
.description h1 {
  font-size: 2rem;
  color: #44231c;
  margin-bottom: 0.8rem;
  text-align: center;
  font-weight: 800;
}
.description h3 {
  padding: 2rem;
}
.description p {
  color: #555;
  font-size: 1.1rem;
  /* width: 50%; */
  line-height: 1.5;
  padding: .25rem 2rem;
}
/* About section */
.about {
  padding: 5rem 1rem 0 1rem;
  position: relative;
}
.about h3 {
  margin: 0.25rem;
  text-align: center;
}
.about h4 {
  color: #44231c;
  padding: 0.5em;
  text-align: right;
}
.aboutDesc {
  color: #555;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  font-style: italic;
  padding: 0.5em;
}
.about img {
  height: auto;
  max-width: 90%;
  border-radius: 0.5rem;
  margin: 1rem auto;
}
.about .desc {
  padding: 1em;
}
.about .desc h3 {
  color: #1574BF;
}
.about .desc p {
  line-height: 2;
  color: #555;
  padding: 0.5rem 1rem;
}
.owner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Portfolio section */
.portfolio {
  padding: 1.5rem 1rem 2rem 1rem;
  position: relative;
}
.portfolio h3 {
  color: #44231c;
  margin: 0.5rem;
}
.portfolio h4 {
  color: #555;
  font-style: italic;
}
.portfolio img {
  border-radius: 0.5rem;
  height: auto;
  width: 100%;
  margin: 1rem auto;
}
/* Blog section */
.blog {
  padding: 1.5rem 1rem 0 1rem;
  position: relative;
}
.blog .card {
  margin-bottom: 2rem;
  box-shadow: 0 0 20px #CCC;
}
.blog .card img {
  width: 100%;
  height: auto;
}
.blog .card-title {
  color: #44231c;
}
.blog .card-body {
  padding: 1em;
}
.blog .card-text {
  color: #555;
}
.blog .card-link {
  color: #1574BF;
}
.blog .card-link:hover {
  color: #040404;
}
/* Team section */
.team {
  padding: 1.5rem 1rem 2rem 1rem;
  position: relative;
}
.team img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.team .item {
  padding-bottom: 1.5rem;
}
.team .des {
  background: #44231c;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.3rem;
  transition: 0.3s ease-in-out;
}
.text-muted {
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 1.5rem;
}
/* Footer section */
footer {
  background: #040404;
}
footer p {
  color: #f4f4f4;
  text-align: center;
}
footer h4 {
  color: #f4f4f4;
  padding-top: .7rem;
  text-align: center;
}
footer .svg-inline--fa {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  font-size: 3rem;
}
footer .icon img {
  display: block;
  border-radius: 0.5rem;
  max-width: 50%;
  margin: 0 auto;
}
footer .icon a {
  display: block;
  text-align: center;
  color: #f4f4f4;
}
footer .icon a:hover {
  color: #1574BF;
  text-decoration: none;
}
/*

#       #  #####  ####    #    #
##     ##  #      #   #   #   # #
# #   # #  #####  #    #  #  #####
#  # #  #  #      #   #   #  #   #
#   #   #  #####  ####    #  #   #

*/
@media (min-width: 576px) {
  header {
    background-attachment: fixed;
  }
}
@media (min-width: 768px) {
  .navbar-link-toggle {
    display: none;
  }
  .navbar-items,
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .nav-item {
    display: flex;
    padding: 0 1rem;
  }
  .nav-link {
    padding: 0;
  }
  .navbar-link-brand {
    padding: 0.5rem 1rem;
  }
  .description p {
    max-width: 50%;
  }
  .about .desc {
    border-left: 4px solid #1574BF;
    padding: 1em;
  }
}
